body {
    
    /* align-items: center; */
}

#content{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.flexbox-container {
    /* width: 200px;
    height: 200px; */
	background-color: yellow;
    position: relative;
    /* align-items: center; */
}

.flexbox-item {
	
}

.flexbox-item-1{
	
}		

.flexbox-item-2{
	min-height: 200px;
}

.flexbox-item-3{
	min-height: 300px;
}