body{
	background-color:gray;
}
h1{
	color:darkred;
}
p{
	color:blue;
}

.flexbox-container {
	display: flex;
}

.flexbox-item {
	width:200px;
	margin:10px;
	border: 3px solid #333;
	background-color: #dfdfdf;
}

.flexbox-item-1{
	min-height: 100px;
}		

.flexbox-item-2{
	min-height: 200px;
}

.flexbox-item-3{
	min-height: 300px;
}

table, td, th{
	border: 1px solid black;
	border-collapse: collapse; 
}

td,th{
	padding: 18px;
}

th{
	text-align: left;
}

table {
	/* border-spacing: 55px; */
}

#a01 th {
	/* width: 100%; */
	background-color: blueviolet;
}

#a01 tr:nth-child(even){
	background-color: #eee;
}

#a01 tr:nth-child(odd){
	background-color: #fff;
}